html {
    font-family: Arial, sans-serif;
    font-size: 12px;
    /* Adjust the font size as needed */
}

.main_font_size {
    font-size: 12px;
}

.dist_input {
    text-align: center;
}

.txt_input {
    width: 80px;
}

.vertical-slider {
    -webkit-appearance: none;
    height: 300px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
}

.top_margin {
    /*margin: 0;*/
    margin-top: 20px;
    margin-bottom: 10px;
}

.speed-float-cell {
    width: 55px;
}

.inline-elements {
    display: inline-block;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    /* Center the table within the page */
    margin-bottom: 10px;
}

.pace_table tbody tr:nth-child(odd) {
    background-color: #e6e5e5; /* Set the background color for even rows */
}

td.no-border {
    border: none;
}

th,
td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

.cell_underlined {
    border-bottom: 3px solid black;
}
